@media only screen and (max-width: 600px) {
   
    .navbar {
        position: relative;
   }

   .navbar .logo {
       grid-column: 4/7;
       width: 75px;
       height: 75px;
   }

   .navbar .menu {
       grid-column: 1/9;
       margin-bottom: 5px;
   }

   .navbar .shoping {
       display: none;
   }

   /* MAIN CONTENIDO  */

   .hero .info-content {
       grid-column: 2/8;
       overflow: hidden;
   }

   .hero .info-content img{
       width: 300px;
   }

   .hero .info-content2 {
    grid-column: 2/8;
    overflow: hidden;
    }

    .hero .info-content2 img{
    width: 300px;
    }
    .hero .info-content3 {
        grid-column: 2/8;
        overflow: hidden;
    }
    
    .hero .info-content3 img{
        width: 300px;
    }

}